*
{
    margin: 0;
    padding: 0;
}

/*@font-face
    font-family 'Heboo'
    src url(../fonts/heboo-bold.woff2) format('woff2'), url(../fonts/heboo-bold.woff) format('woff')

body
    font-family 'Heboo'
    font-weight 600
*/

html,
body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
